* {
  font-family: 'Roboto', Verdana; }

header .navbar-default {
  background-color: #00b359 !important;
  padding-right: 5%;
  padding-bottom: 2%;
  margin-bottom: 0%; }
  header .navbar-default a {
    color: white !important;
    font-weight: lighter; }
  header .navbar-default li {
    margin-top: 2%; }

#uno {
  background-image: url("../img/carousel-bg.jpg");
  background-position: center;
  height: 30em;
  padding: 5%;
  text-align: center;
  color: white; }
  #uno p {
    font-size: 5em;
    font-weight: 400;
    text-align: center; }
  #uno h3 {
    font-weight: 400; }

#dos {
  padding: 2%; }
  #dos p {
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    text-align: center;
    color: #595959; }
  #dos hr {
    border-top: .1em solid black;
    width: 20%;
    margin-bottom: 5%; }
  #dos .col-md-2, #dos .col-xs-2 {
    height: 10em;
    margin-bottom: 1%;
    text-align: center;
    color: #595959; }
  #dos .f1 .clr1 {
    background-color: #69d2e7; }
  #dos .f1 .clr2 {
    background-color: #a7dbdb; }
  #dos .f1 .clr3 {
    background-color: #e0e4cc; }
  #dos .f1 .clr4 {
    background-color: #f38630; }
  #dos .f1 .clr5 {
    background-color: #fa6900; }
  #dos .f2 .clr1 {
    background-color: #e94c6f; }
  #dos .f2 .clr2 {
    background-color: #542733; }
  #dos .f2 .clr3 {
    background-color: #5a6a62; }
  #dos .f2 .clr4 {
    background-color: #c6d5cd; }
  #dos .f2 .clr5 {
    background-color: #fdf200; }
  #dos .f3 .clr1 {
    background-color: #db3340; }
  #dos .f3 .clr2 {
    background-color: #e8b71a; }
  #dos .f3 .clr3 {
    background-color: #f7eac8; }
  #dos .f3 .clr4 {
    background-color: #1fda94; }
  #dos .f3 .clr5 {
    background-color: #28abe3; }
  #dos .f4 .clr1 {
    background-color: #588c73; }
  #dos .f4 .clr2 {
    background-color: #f2e394; }
  #dos .f4 .clr3 {
    background-color: #f2ae72; }
  #dos .f4 .clr4 {
    background-color: #d96459; }
  #dos .f4 .clr5 {
    background-color: #8c4646; }
  #dos .f5 .clr1 {
    background-color: #d0c91f; }
  #dos .f5 .clr2 {
    background-color: #85c4b9; }
  #dos .f5 .clr3 {
    background-color: #008bba; }
  #dos .f5 .clr4 {
    background-color: #df514c; }
  #dos .f5 .clr5 {
    background-color: #dc403b; }

#tres, #cuatro, #cinco {
  background-color: #204060;
  padding-top: 10%;
  padding-bottom: 5%; }
  #tres h5, #cuatro h5, #cinco h5 {
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    color: white; }
  #tres hr, #cuatro hr, #cinco hr {
    border-top: .1em solid black;
    width: 20%;
    margin-bottom: 5%;
    border-color: white !important; }
  #tres p, #cuatro p, #cinco p {
    font-weight: 300;
    margin-bottom: 5%;
    color: white; }
  #tres .imgabout, #cuatro .imgabout, #cinco .imgabout {
    width: 100%;
    height: 30em;
    margin-top: 10%;
    transform: perspective(500px) rotateY(35deg); }
  #tres .progress, #cuatro .progress, #cinco .progress {
    margin-bottom: -.3%; }

#cuatro {
  background-color: #00b359; }
  #cuatro .bgmarino {
    background-color: #204060; }
  #cuatro .divbg .divider {
    background-image: url("../img/icon-bg.png");
    background-size: cover;
    margin-bottom: -9.5%;
    height: 11em; }
  #cuatro .divbg .imgdiv {
    width: 55%;
    height: 11em;
    margin-top: -49%;
    margin-left: 22%;
    transform: perspective(500px) rotateY(35deg); }
  #cuatro .divplace {
    background-color: #006633;
    padding: 2%; }
    #cuatro .divplace h3 {
      margin-top: 12%;
      font-weight: 400;
      color: #ff8c1a;
      text-align: center; }
    #cuatro .divplace hr {
      width: 90%; }
  #cuatro .imgorange {
    width: 55%;
    height: 8em;
    margin-left: 20%; }
  #cuatro .bgorange {
    background-color: #ff8c1a;
    height: 9em;
    margin-left: 25%;
    margin-top: 5%;
    width: 9em;
    transform: rotate(25deg); }
  #cuatro h3, #cuatro p {
    text-align: center;
    color: white; }
  #cuatro button {
    color: white;
    background-color: #595959;
    border: none;
    margin-left: 45%;
    margin-top: 5%;
    margin-bottom: 20%; }
  #cuatro .team1 hr {
    margin-bottom: 1%; }
  #cuatro .team1 h4, #cuatro .team1 h6 {
    text-align: center;
    margin-top: 10%; }
  #cuatro .team1 h4 {
    color: white; }
  #cuatro .team1 p {
    margin-top: 10%; }
  #cuatro .imgteam {
    width: 50%;
    height: 9em;
    margin-left: 25%; }
  #cuatro i {
    margin-right: 3%; }

#cinco p {
  text-align: center;
  margin-top: -2%; }
#cinco .mg-t {
  margin-top: 10%;
  margin-bottom: 20%; }
#cinco #prices, #cinco #feat {
  border: 0.1em solid #00b359;
  padding: 0;
  color: white;
  text-align: center;
  margin-right: 1%;
  width: 22%; }
  #cinco #prices .none, #cinco #feat .none {
    width: 100%;
    padding: 2%; }
  #cinco #prices .nar, #cinco #feat .nar {
    background-color: #993d00;
    opacity: .7;
    width: 100%;
    padding: 2%; }
  #cinco #prices .green, #cinco #feat .green {
    background-color: #00b359;
    width: 100%;
    padding: 5%; }
    #cinco #prices .green span, #cinco #feat .green span {
      font-size: 4em; }
  #cinco #prices .blanc, #cinco #feat .blanc {
    background-color: white !important;
    width: 100%;
    padding: 2%;
    color: black; }
  #cinco #prices .pd-btn, #cinco #feat .pd-btn {
    padding: 20%; }
  #cinco #prices .btn-primary, #cinco #feat .btn-primary {
    background-color: #993d00;
    opacity: .7;
    border: none;
    border-radius: 0%; }
#cinco #feat {
  border: .2em solid #ff6600;
  margin-top: -5%; }
#cinco #costumers p {
  text-align: center; }
#cinco #costumers .txtnar {
  color: #ff8000;
  margin-bottom: 10%; }
#cinco #touch input {
  margin: 1%;
  width: 60%;
  margin-left: 20%;
  padding: 1%; }
#cinco #touch .inptbig {
  height: 15em; }
#cinco #touch button {
  background-color: #993d00;
  opacity: .7;
  border: none;
  border-radius: 0%;
  color: white;
  margin-left: 45%;
  margin-top: 2%;
  margin-bottom: 10%; }
#cinco #touch .req {
  text-align: left;
  margin-left: 20%; }

#seis #seis1 {
  background-image: url("../img/img-divider-img.jpg");
  height: 10em;
  background-size: cover;
  background-position: 50% 38%; }
#seis #seis2 {
  background-image: url("../img/img-divider-img.jpg");
  height: 30em;
  background-position: 50% 10%;
  background-size: cover; }
  #seis #seis2 .row {
    padding-top: 10%;
    text-align: center; }
    #seis #seis2 .row i {
      color: white;
      font-size: 8em;
      margin: 1%; }

footer {
  background-color: #00b359;
  padding: 2%;
  color: white; }
  footer .row {
    text-align: center; }
    footer .row hr {
      border-top: .1em solid black;
      width: 20%;
      margin-bottom: 5%;
      border-top: .1em solid white; }
    footer .row p {
      text-align: left;
      margin-left: 20%; }
      footer .row p i {
        margin-right: 5%; }
  footer .input-group {
    border: .1em solid  #404040;
    width: 70%;
    margin-left: 15%;
    background-color: #404040; }
    footer .input-group .input-group-addon {
      border: none;
      border-right: .1em solid  #404040;
      background-color: #404040; }
      footer .input-group .input-group-addon i {
        color: #e68a00; }
    footer .input-group .form-control {
      border: none; }
  footer button {
    margin-top: 5%;
    background-color: #404040;
    border: none;
    padding: 3%; }
  footer ul {
    margin-top: 2%;
    margin-bottom: -2%;
    list-style-type: none; }
    footer ul li {
      display: inline; }
    footer ul .gray {
      color: #404040; }
    footer ul .fright {
      float: right; }
      footer ul .fright a {
        color: white; }

/*# sourceMappingURL=main.css.map */
